body{
    background-image: url(Img/bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes example {
    0%   {transform: rotateY(0deg)}
    100%  {transform: rotateY(359deg)}
  }

.snurr{
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.img{
    border: 5px solid greenyellow;
    border-radius: 10px;
    
}

.main{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: rgba(146, 146, 146, 0.6);
    border-radius: 8px;
    border: 5px solid darkslateblue;
}
    .right{
        width: 40%;
        float: right;
        float: top;
        text-align: center;
        border: 5px solid greenyellow;
        border-radius: 10px;
        
    }

    .right img{
        display: block;
    }

    .left{
        width: 60%;
        float: left;
    }

    .text{
        text-align: left;
        width: 100%;
        float: left;
        background-color: darkgray;
        height:100px;
    }
    
    .cate{
        float:left;
        width: 60%;
        background-color: darkgray;
    }

.header{
    background-color: darkslategray;
    width: 100%;
    height: 45px;

}
    .namn{
        width: 20%;
        float: left;
        background-color: darkslategray;
    }

    .links{
        width: 80%;
        text-align: right;
        float: right;
        height: auto;
        background-color: darkslategray;
    }

a:link{
    color:darkblue;
    text-decoration: none;
}

a:visited{
    color:lightblue;
}

a:hover{
    color: gray;
    text-decoration: underline;
}